output
.DS_Store

# build artifacts
Gemfile.lock
progit.html
progit.pdf
progit.pdfmarks
progit.epub
progit.fb2.zip
progit-kf8.epub
progit.mobi
contributors.txt

# translator's ignored files
a[45]-.pdf
a[45].pdf
v/
